.container{
  display: grid;
  grid-template-rows: 100px 1fr 0;
  height: 100vh;
  overflow-y: scroll;
  padding: 0 25px 0 25px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.controlBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.iconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.move{
  color: var(--accent-color);
}
.close{
  color: var(--error-color);
  transition: all 0.2s ease-in-out;
}
.close:hover{
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(1.5);
}
.donationContainer{
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.withMention{
  font-size: 0.8rem;
  font-style: italic;
  color: var(--foreground-color-variant);
}
.donationButton{
  display: flex;
  align-items: center;
  gap: 5px;
}