@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700&family=Noto+Color+Emoji&display=swap');

:root{
  --background-color: #272949;
  --background-color-variant: #373d77;
  --foreground-color: #f9fafb;
  --foreground-color-variant: #e5e7eb;
  --disabled-color: #6b7280;
  --accent-color: #6a74ce;
  --variant-color: #ff793f;
  --success-color: #52BD95;
  --warning-color: #FFB020;
  --error-color: #D14343;
}