@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700&family=Noto+Color+Emoji&display=swap');

:root{
  --background-color: #2c2c54;
  --background-color-variant: #40407a;
  --foreground-color: #F9FAFC;
  --foreground-color-variant: #e0e1e2;
  --accent-color: #8d8cdf;
  --variant-color: #ff793f;
  --success-color: #52BD95;
  --warning-color: #FFB020;
  --error-color: #D14343;
}